@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "image-container";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: whitesmoke;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  text-align: center;
}

// Loader
.loader {
  // background: rgba(255, 255, 255, 0.8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  img {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: 2rem;
  }
}
